<% title "Create a new team account" %>

<%= container do %>
  <%= page_header(title: "Settings", subtitle: "Update your #{@account.personal_account? ? "personal" : "team's"} profile") %>
  <div class="grid grid-cols-3 gap-x-8">
    <aside class="flex flex-col gap-y-10 bg-white dark:bg-dark-900 p-8 rounded shadow">
      <%= render "navigations/settings" %>
    </aside>
    <div class="col-span-2">
      <%= render "teamable/shared/form" %>
    </div>
  </div>
<% end %>
